<IfModule mod_rewrite.c>
    RewriteEngine On

    # Nếu request là file hoặc thư mục thực sự, không rewrite
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite mọi thứ về public/index.php
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
